body, html {
  background-color: rgb(15, 29, 37);
  height: 100%;
}


.loader {
display:block;
margin: 0 auto;
}

.myheader{
    text-align: center;
    background-color: white;
    background: url(https://images.pexels.com/photos/416920/pexels-photo-416920.jpeg?cs=srgb&dl=road-under-cloudy-sky-416920.jpg&fm=jpg);
}

.jumbotron{
   background-color: rgb(15, 29, 37);

}
 
 
 .myheader {
  text-align: center;
   background-color: rgb(15, 29, 37);
}



.about{
  background-color: rgb(15, 29, 37);
}

.profilepic
{
    border-radius:50%;
}

#about{
    background-color: rgb(15, 29, 37);
}

.carousel-item {
 height: 500px;
 text-align: center;
}

.item1 {
 background-color: rgb(15, 29, 37);
  align-items: center;
}

.item2 {
 background-color: rgb(15, 29, 37);
  align-items: center;
}

.item3 {
  background-color: rgb(15, 29, 37);
  align-items: center;
}

.disp{
  width:100%!important;
  display: block!important;
}
.disp1{
  width:100%!important;
  display: block!important;
}
.clr{
  color:whitesmoke;
}
.devolop{
 text-align: center;
}


